* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #f4f4f4;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 1rem;
}

label,
input {
    display: inline-block;
    width: 95%;
}

.container {
    background: #fff;
    padding: 1.2rem;
    border-radius: 10px;

    &:hover {
        box-shadow: 5px 5px #ccc;
    }
}

.wrapper {
    margin-bottom: .8rem;
}

.wrapper label {
    font-weight: bold;
    margin-bottom: .2rem;
}

.wrapper input {
    padding: .5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.btn {
    background: #ff7f50;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-weight: bolder;
    padding: .5rem .7rem;

    &:hover {
        background: #f89876;
    }
}

.result {
    font-size: 1rem;
    margin-top: .5rem;
    text-align: center;
}